Repository napzakmarket/Napzak-Android, pull requests merged in 2025-09, with the labels that each got.

#349 [REFACTOR/#345] Krossbow 라이브러리 미사용 및 리팩터링
  data/chat/src/main/java/com/napzak/market/chat/datasource/ChatSocketDataSource.kt
  data/chat/src/main/java/com/napzak/market/chat/di/ServiceModule.kt
  data/chat/src/main/java/com/napzak/market/chat/repositoryimpl/ChatSocketRepositoryImpl.kt
  data/chat/src/main/java/com/napzak/market/chat/service/ChatSocketService.kt
  data/remote/src/main/java/com/napzak/market/remote/NetworkModule.kt
  data/remote/src/main/java/com/napzak/market/remote/StompSocketClient.kt
  data/remote/src/main/java/com/napzak/market/remote/socket/SocketModule.kt
  data/remote/src/main/java/com/napzak/market/remote/socket/StompDsl.kt
  data/remote/src/main/java/com/napzak/market/remote/socket/StompFrameBuilder.kt
  data/remote/src/main/java/com/napzak/market/remote/socket/StompWebSocketClient.kt
  data/remote/src/main/java/com/napzak/market/remote/socket/type/SocketConnectionState.kt
  data/remote/src/main/java/com/napzak/market/remote/socket/type/SocketMessageType.kt
  data/remote/src/main/java/com/napzak/market/remote/socket/type/StompHeader.kt
  data/remote/src/main/java/com/napzak/market/remote/socket/type/StompType.kt
  domain/chat/src/main/java/com/napzak/market/chat/controller/ChatController.kt
  domain/chat/src/main/java/com/napzak/market/chat/model/ChatSocketException.kt
  domain/chat/src/main/java/com/napzak/market/chat/repository/ChatSocketRepository.kt
  domain/chat/src/main/java/com/napzak/market/chat/usecase/SubscribeChatRoomUseCase.kt
  domain/chat/src/main/java/com/napzak/market/chat/usecase/SubscribeChatRoomsUseCase.kt
  feature/chat/src/main/java/com/napzak/market/chat/chatroom/ChatRoomScreen.kt
  feature/chat/src/main/java/com/napzak/market/chat/chatroom/ChatRoomViewModel.kt
  feature/main/src/main/java/com/napzak/market/main/WebSocketLifecycleObserver.kt
Labels: REFACTOR :recycle:, 암살자석준 :rage:

#354 [FEAT/#348] 제한된 유서 앱 사용 차단
  core/designsystem/src/main/java/com/napzak/market/designsystem/component/popup/NapzakPopup.kt
  core/designsystem/src/main/res/drawable/ic_purple_change.xml
  core/designsystem/src/main/res/drawable/ic_square_red_warning.xml
  feature/login/src/main/java/com/napzak/market/login/LoginScreen.kt
  feature/login/src/main/java/com/napzak/market/login/LoginViewModel.kt
  feature/login/src/main/java/com/napzak/market/login/component/UserReportedPopup.kt
  feature/login/src/main/java/com/napzak/market/login/model/LoginUiState.kt
  feature/login/src/main/java/com/napzak/market/login/navigation/LoginNavigator.kt
  feature/login/src/main/res/values/strings.xml
Labels: FEAT :sparkles:, UI :iphone:, 충신채린 :saluting_face:

#356 [FEAT/#312] 강제 업데이트 구현
  app/build.gradle.kts
  app/src/main/java/com/napzak/market/NapzakApplication.kt
  app/src/main/java/com/napzak/market/config/FirebaseModule.kt
  app/src/main/java/com/napzak/market/config/messaging/FirebaseModule.kt
  app/src/main/java/com/napzak/market/config/update/RemoteConfigRepositoryImpl.kt
  core/ui_util/src/main/java/com/napzak/market/ui_util/ContextExt.kt
  data/local/src/main/java/com/napzak/market/local/datastore/DataStoreModule.kt
  domain/update/.gitignore
  domain/update/build.gradle.kts
  domain/update/src/main/java/com/napzak/market/update/repository/RemoteConfigRepository.kt
  domain/update/src/main/java/com/napzak/market/update/usecase/CheckAppVersionUseCase.kt
  feature/splash/build.gradle.kts
  feature/splash/src/main/java/com/napzak/market/splash/SplashScreen.kt
  feature/splash/src/main/java/com/napzak/market/splash/SplashViewModel.kt
  feature/splash/src/main/res/values/strings.xml
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: FEAT :sparkles:, 충신채린 :saluting_face:

#358 [ADD/#308] 믹스패널 추가
  core/designsystem/src/main/java/com/napzak/market/designsystem/component/textfield/SearchTextField.kt
  core/mixpanel/.gitignore
  core/mixpanel/build.gradle.kts
  core/mixpanel/src/main/AndroidManifest.xml
  core/mixpanel/src/main/java/com/napzak/market/mixpanel/MixpanelConstants.kt
  core/mixpanel/src/main/java/com/napzak/market/mixpanel/MixpanelExt.kt
  core/mixpanel/src/main/java/com/napzak/market/mixpanel/MixpanelModule.kt
  feature/chat/build.gradle.kts
  feature/chat/src/main/java/com/napzak/market/chat/chatroom/ChatRoomScreen.kt
  feature/chat/src/main/java/com/napzak/market/chat/chatroom/ChatRoomViewModel.kt
  feature/detail/build.gradle.kts
  feature/detail/src/main/java/com/napzak/market/detail/ProductDetailScreen.kt
  feature/detail/src/main/java/com/napzak/market/detail/ProductDetailViewModel.kt
  feature/explore/build.gradle.kts
  feature/explore/src/main/java/com/napzak/market/explore/ExploreScreen.kt
  feature/explore/src/main/java/com/napzak/market/explore/ExploreViewModel.kt
  feature/home/build.gradle.kts
  feature/home/src/main/java/com/napzak/market/home/HomeScreen.kt
  feature/home/src/main/java/com/napzak/market/home/HomeViewModel.kt
  feature/home/src/main/java/com/napzak/market/home/component/HorizontalScrollableProducts.kt
  feature/login/build.gradle.kts
  feature/login/src/main/java/com/napzak/market/login/LoginViewModel.kt
  feature/mypage/build.gradle.kts
  feature/mypage/src/main/java/com/napzak/market/mypage/mypage/MyPageScreen.kt
  feature/mypage/src/main/java/com/napzak/market/mypage/mypage/MyPageViewModel.kt
  feature/mypage/src/main/java/com/napzak/market/mypage/navigation/MyPageNavigation.kt
  feature/mypage/src/main/java/com/napzak/market/mypage/setting/SettingViewModel.kt
  feature/mypage/src/main/java/com/napzak/market/mypage/setting/SettingsScreen.kt
  feature/mypage/src/main/java/com/napzak/market/mypage/withdraw/WithdrawReasonScreen.kt
  feature/mypage/src/main/java/com/napzak/market/mypage/withdraw/WithdrawViewModel.kt
  feature/onboarding/build.gradle.kts
  feature/onboarding/src/main/java/com/napzak/market/onboarding/genre/GenreScreen.kt
  feature/onboarding/src/main/java/com/napzak/market/onboarding/genre/GenreViewModel.kt
  feature/registration/build.gradle.kts
  feature/registration/src/main/java/com/napzak/market/registration/purchase/PurchaseRegistrationViewModel.kt
  feature/registration/src/main/java/com/napzak/market/registration/sale/SaleRegistrationViewModel.kt
  feature/search/build.gradle.kts
  feature/search/src/main/java/com/napzak/market/search/SearchScreen.kt
  feature/search/src/main/java/com/napzak/market/search/SearchViewModel.kt
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: ADD ➕, 퍼시벌종명 :sunglasses:
